.root {
  display: flex;
  :global {
    span {
      margin: 20px;
    }
    .active {
      background-color: yellow;
    }
    .ant-breadcrumb {
      margin: 15px 0 0 10px;
      ol>li{
        padding: 0px;
      }
    }
  }
}